 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* ................ */
li {
    list-style: none;
    padding:0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}
p {
    font-size: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* ................ */

/* nav-section-start */
.nav {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo {
    display: block;
}
.logo img{
    width: 2.5rem;
}

.main-menu > ul{
    display: flex;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 700;
}

.game-logo {
    color: #FF42A5;
}

.main-menu a {
    color: #3C354F;
    font-size: .99rem;
}

.btn-1 {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 170px;
    padding: 10px 5px;
    margin-top: -2rem;
    cursor: pointer;
}

.btn-1 i {
    margin-left: 8px;
}

/* nav-section-end */

/* banner-section-start */
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.hero-section img {
    width: 500px;
}



.banner-text h1 {
    color: #0B0223;
    font-weight: 600;
    color: #0B0223;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-text h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-text div {
    margin-bottom: .9rem;
}

.icon-text small {
    margin-left: .4rem;
} 

.icon-text img {
    width: 15px;
}

.img-text {
    position: relative;
    top: -5px;
}
.btn-2 {
    padding: 20px 45px;
    background-color: #F948B2;
    border: none;
    border-radius: 35px;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.btn-3 {
    padding: 20px 35px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
}

.banner-section {
    background-image: url('images/Group\ 14.png');
    background-position: top left;
    background-size: 50%;
    background-repeat: no-repeat;
}

#play {
    font-size: 20px;
    margin-top: 10px;
}

#play-2 {
    font-size: 20px;
    margin-right: 5px;
}
/* banner-section-end */

/* gamer-section-start */
.gamer-section  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.gamer-section img {
    width: 40rem;
    height: auto;
}

.gamer-text {
    text-align: right;
}

.gamer-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    margin-bottom: 1rem;
} 

.gamer-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #534C64;
    width: 28.25rem;
}

.btn {
    margin-bottom: 1rem;
    padding: 15px 25px;
    position: relative;
    left: 1rem;
}

.unleash {
    font-size: 1.4rem !important;
    font-weight: 700;
}
/* gamer-section-end */

/* online-game-section-start  */
.img-container img,p{
    width: 14.75rem;
}

.text-section {
    text-align: center;
    margin-bottom: 1.6rem;
}

.img-container {
    display: flex;
    justify-content: space-around;   
}

.img-1 {
    position: relative;
}

.img-1 img:hover {
    border: 4px solid #FF42A5;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(40%);
    opacity: 0;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
}

.overlay p {
    font-size: 1rem;
    color: red;
}

.img-1:hover .overlay {
    opacity: 1;
}

.text-section span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section h1,span {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.text-game {
    color: #534C64;
}
/* online-game-section-end  */

/* anniversary-section-start */
.anniversary {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.image-1 {
    width: 450px;
    position: relative;
}

.image-2 {
    width: 200px;
    position: absolute;
    right: 400px;
    margin-top: 300px;
    margin-right: 100px;
}


.anniversary-text h1 {
    width: 280px;
    text-align: right;
    margin-right: 200px;
}

.anniversary-text span {
    color: #F948B2;
}

.anniversary-text p {
    color: #534C64;
    text-align: right;
    margin-left: 35px;
    margin-top: 1rem;
    font-size: .65rem;
}
/* anniversary-section-end */

/* online-game-start */
.img-text {
    font-size: 15px;
}

.img-name img {
    width: 25px;
}

.all-games {
    height: 40vh;
    margin-top: 150px;
}

.game {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}
.section-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.section-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.img-name {
    padding: 5px;
    border-radius: 18px;
}

.img-name:hover {
    border: 2px solid #F948B2;
    color: #F948B2;
}

/* online-game-end */

.logo-sec img {
    width: 3rem;
    margin-right: .50rem;
}

.menu ul{
    display: flex;
    justify-content: center;
}

/* .menu-2 {
    display: flex;
} */

.footer-section span  {
    font-size: 2rem;
    color: #fff;
}

.footer-section {
    text-align: center;
}

.color {
    color: #F948B2 !important;
}

.menu > ul{
    /* display: flex;
    justify-content: center; */
    margin-top: 1rem;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.icon-section {
    text-align: center;
    margin-top: 5px;
    padding: 1rem;
    cursor: pointer;
}

.icon-section i {
    padding: 1rem;
    color: #fff;
    font-size: 15px;
}

footer {
    background-color: #0B0223;
    padding: 40px;
}

.policy-section > ul {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width:576px) {
    .nav {
        padding: 1rem 2rem;
        flex-direction: column;
    }
    .all-games {
        margin-top: 250px;
    }
    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .main-menu ul{
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .main-menu li {
        margin-top: 15px;
    }

    .hero-section {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 150px;
    }

    .banner-text h1{
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }

    .banner-text h2 {
        text-align: center;
        font-size: 30px;
    }

    .icon-text {
        text-align: center;
    }

    .btn-2,.btn-3 {
        padding: 15px 25px;
        margin-left: 30px;
        margin-bottom: 4rem;
    }

    .gamer-section {
        flex-direction: column;
        margin-bottom: 300px;
    }

    .gamer-section img {
        width: 100%;
        margin-top: 500px;
    }

    .gamer-text {
        text-align: center;
    }
    .gamer-text h1 {
        font-size: 1.5rem;
    }

    .btn {
        margin-bottom: 20px;
        margin-right: 30px;
    }

    .unleash {
        font-size: 1rem !important;
    }

    .text-section h1,span{
        text-align: center;
        font-size: 1.8rem;
    }
    .text-section h1{
        margin-top: 60px;
    }

    .game-section {
        margin-top: 4rem;
    }

    .img-container {
        flex-direction: column;
        align-items: center;
    }

    .anniversary  {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .anniversary-text h1,span {
        text-align: center;
        margin-right: 0;
    }
    .anniversary-text p {
        color: #534C64;
        text-align: center;
        margin-left: 5px;
        margin-bottom: 20px;
    }
    .image-1 {
        width: 300px;
        /* position: relative; */
    }

    .image-2 {
        width: 150px;
        position: absolute;
        right: 250px;
        /* margin-top: 100px; */
        margin-top: 160px;
        margin-right: 120px;
    }

    .game {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        font-size: 10px;
    }

    .game span {
        font-size: 10px;
    }

    .section-2 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
    }

    .section-2 span {
        font-size: 10px;
    }

   .menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 30px;
   }

   .icon-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
   }

    .policy-section ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-left: 90px;
    }

    .copyright {
        width: 150px;
        margin: auto;
    }
    .overlay i {
       transform: translateX(-10px);
    }
}

/* @media screen and (max-width:768px){
    .nav {
        padding: 1rem ;
    }

    .logo img {
        width: 2rem;
        padding: 0;
    }
    .logo span {
        font-size: 1rem;
        font-weight: 700;
    }


    .main-menu li {
        padding: 5px 5px;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .gamer-section {
        flex-direction: column-reverse;
        margin-top: 300px;
        margin-bottom: 200px;
    }

    .gamer-text {
        text-align: center;
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .img-container img {
        width: 200px;
        margin-left: 100px !important;
    }

    .img-container p {
        margin-left: 90px;
    }

    .overlay i {
        margin-right: 60px;
    }


    .image-2 {
        width: 160px !important;
        position: absolute;
        right: 190px;
        margin-top: 320px;
        margin-right: 150px;
    }

    .image-1 {
        width: 350px;
        height: 350px;
        margin-left: 200px;
        margin-top: 50px;
    }

    .anniversary {
        flex-direction: column;
    }

    .anniversary-text h1 {
        text-align: center;
        margin-left: 160px;
    }

    .anniversary-text p {
        text-align: center;
        margin-left: 160px;
    }

    .all-games {
        display: grid;
        grid-template-columns: 1fr;
    }
} */

/* @media screen and (max-width: 992px){
    .image-2 {
        width: 210px;
        position: absolute;
        right: 260px;
        margin-top: 320px;
        margin-right: 100px;
    }

    .overlay i {
        margin-left: 20px;
    }

    .gamer-text h1 {
        font-size: 1.5rem;
        padding: 10px;
    }

    .gamer-text p {
        font-size: 15px;
        padding: 10px;
    }

    .gamer-section img {
        width: 500px;
    }
} */

/* @media screen and (min-width: 994px) and (max-width: 1100px) {
    .gamer-text h1{
        padding: 0 50px;
    }

    .gamer-text p{
        padding: 0 50px;
    }

    .gamer-text,.btn {
        padding: 10px 15px;
        padding-right: 50px;
    }
} */