 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* ................ */
li {
    list-style: none;
    padding:0 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}
p {
    font-size: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/* ................ */

/* nav-section-start */
.nav {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo img{
    width: 2.5rem;
}

.main-menu > ul{
    display: flex;
}

.logo span {
    font-size: 1.5rem;
    font-weight: 700;
}

.game-logo {
    color: #FF42A5;
}

.main-menu a {
    color: #3C354F;
    font-size: .99rem;
}

.btn-1 {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    width: 170px;
    padding: 10px 5px;
    margin-top: -2rem;
    cursor: pointer;
}

.btn-1 i {
    margin-left: 8px;
}

/* nav-section-end */

/* banner-section-start */
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.hero-section img {
    width: 500px;
}



.banner-text h1 {
    color: #0B0223;
    font-weight: 600;
    color: #0B0223;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner-text h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-text div {
    margin-bottom: .9rem;
}

.icon-text small {
    margin-left: .4rem;
} 

.icon-text img {
    width: 15px;
}

.img-text {
    position: relative;
    top: -5px;
}
.btn-2 {
    padding: 20px 45px;
    background-color: #F948B2;
    border: none;
    border-radius: 35px;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
}

.btn-3 {
    padding: 20px 35px;
    background-color: #4EC5F7;
    border: none;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
}

.banner-section {
    background-image: url('images/Group\ 14.png');
    background-position: top left;
    background-size: 50%;
    background-repeat: no-repeat;
}

#play {
    font-size: 20px;
    margin-top: 10px;
}

#play-2 {
    font-size: 20px;
    margin-right: 5px;
}
/* banner-section-end */

/* gamer-section-start */
.gamer-section  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.gamer-section img {
    width: 40rem;
    height: auto;
}

.gamer-text {
    text-align: right;
}

.gamer-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    margin-bottom: 1rem;
} 

.gamer-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #534C64;
    width: 28.25rem;
}

.btn {
    margin-bottom: 1rem;
    padding: 15px 25px;
    position: relative;
    left: 1rem;
}

.unleash {
    font-size: 1.4rem !important;
    font-weight: 700;
}
/* gamer-section-end */

/* online-game-section-start  */
.img-container img,p{
    width: 14.75rem;
}

.text-section {
    text-align: center;
    margin-bottom: 1.6rem;
}

.img-container {
    display: flex;
    justify-content: space-around;   
}

.img-1 {
    position: relative;
}

.img-1 img:hover {
    border: 4px solid #FF42A5;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(40%);
    opacity: 0;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
}

.overlay p {
    font-size: 1rem;
    color: red;
}

.img-1:hover .overlay {
    opacity: 1;
}

.text-section span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-section h1,span {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.text-game {
    color: #534C64;
}
/* online-game-section-end  */

/* anniversary-section-start */
.anniversary {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-evenly;
}

.image-1 {
    width: 450px;
    position: relative;
}

.image-2 {
    width: 200px;
    position: absolute;
    right: 400px;
    margin-top: 300px;
    margin-right: 100px;
}


.anniversary-text h1 {
    width: 280px;
    text-align: right;
    margin-right: 200px;
}

.anniversary-text span {
    color: #F948B2;
}

.anniversary-text p {
    color: #534C64;
    text-align: right;
    margin-left: 35px;
    margin-top: 1rem;
    font-size: .65rem;
}
/* anniversary-section-end */

/* online-game-start */
.img-text {
    font-size: 15px;
}

.img-name img {
    width: 25px;
}

.all-games {
    height: 40vh;
}

.game {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.img-name {
    padding: 5px;
    border-radius: 18px;
}

.img-name:hover {
    border: 2px solid #F948B2;
    color: #F948B2;
}

/* online-game-end */

.logo-sec img {
    width: 3rem;
    margin-right: .50rem;
}

.footer-section span  {
    font-size: 2rem;
    color: #fff;
}

.footer-section {
    text-align: center;
}

.color {
    color: #F948B2 !important;
}

.menu > ul{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.icon-section {
    text-align: center;
    margin-top: 5px;
    padding: 1rem;
    cursor: pointer;
}

.icon-section i {
    padding: 1rem;
    color: #fff;
    font-size: 15px;
}

footer {
    background-color: #0B0223;
    padding: 40px;
}

.policy-section > ul {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: 10px;
}